.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    &--fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &--fz48 {
        font-size: 48px;
        
    }  
    &--fz14 {
        font-size: 14px;
        line-height: 21px;
        
    }
    &--fz36 {
        font-size: 36px;
        line-height: 60px;
        margin: 0;
        padding: 0;
    }
    &--fz20 {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    &--fz12 {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
   
}